/* COLORS */
$black: #000000;
$black-1: #101010;
$black-2: #333;
$opaque-black: rgba(0, 0, 0, 0.9);
$grey: grey;
$grey-1: #999;
$grey-2: #989898;
$grey-3: #878787;
$grey-4: #E6E6E6;
$grey-5: #F7F7F7;
$purple-1: #b936b2;
$lightblue-1: #009CFF;
$white: #FFFFFF;
/* end COLORS */
